<div class="container" style="padding-top: 32px;">
  <h1>Le Wagon - alumni</h1>
  <p><%= link_to 'Back', :back, class: "btn-outline-white alumni" %></p>
  <div class="row justify-content-xs-center">
    <% @users.each do |user| %>
      <div class="card-profile">
        <div class="row">
          <%= cl_image_tag user.photo.key, height: 50, width: 50, crop: :fill, class: 'avatar-square-m' %>
          <div class="col">
            <h3><%= user.nickname %></h3>
            <h6><%= user.email %></h6>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
