.chat {
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 16px;
  height: 83vh;
  overflow-y: scroll;
  border-top: 1px solid rgba(150, 150, 150, .3);
  background-color: #fff;
  color: #000;
}

.chatroom {
  width: 79%;
  position: fixed;
  margin-top: -16px;
  margin-left: -16px;
  padding: 16px;
  background-color: #400d40;
  color: white;
}

.chat .message {
  margin-top: 64px;
}
