// srediti sve
/* */
.message-container {
  margin-left: 16px;
  z-index: 1;
}

.author {
  font-style: normal;
}

.author span {
  //line-height: 16px;
  font-weight: bold;
 }

.author small {
  //line-height: 16px;
  color: #333;
 }

.message-container p {
  line-height: 24px;
  //padding-left: 32px;
}

.message-input {
  position: fixed;
  top: 92%;
  width: 76%;
}
