.navbar {
  background: #400d40;
  border-bottom: 2px solid rgba(245, 245, 245, .8);
  height: 8vh;
}

.nav-link {
  position: absolute;
  right: 2%;
  top: 10%;
}

.form-input {
  border-radius: 4px;
  height: 30px;
  margin-right: 4px;
  background-color: transparent;
  color: #fff;
}

.btn-outline-white {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
}

.btn-outline-white:hover {
  background: white;
  color: #400d40;
}

.link-nav:hover {
  box-shadow: inset -8px -13px 15px 4px rgba(0,0,0,0.2);
}
